.header-border{
    border-radius: 10px;
}
.navColor{
    background: #a4e4d8;
    border-radius: 10px;
}
.navItems{
    border-radius: 10px;
}
.custumBackground{
    background: #0a466b;
}
.radious{
    border-radius: 10px;
}
.notificationMessage{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}
.buttonBg{
    background: cyan;
    margin: 5px;
    border-radius: 20px;
}
button{
    border: none;
    background: transparent;
    height: 50px;
}
.borderSize{
    box-sizing: border-box;
}